.game-container {
  margin: 2em;

  .game-bar {
    input, button {
      margin: 0 0.5em;
    }
    
    margin-bottom: 1em;
  }

  &.game-active {
    .tile {
      background-color: #aaa;
    }
  }

  &.show-targets {
    .tiles {
      .tile {
        cursor: none !important;
      }
    }
  }

  .tiles {

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 500px;
    height: 500px;

    .tile-container {

      display: flex;

      .tile {
        flex: 1 1 100%;
        margin: 2%;
        transition: background-color 300ms;
        background-color: #ccc;
        border-radius: 5%;
        cursor: pointer;

        &:hover {
          background-color: #aaa;
        }
  
        &.revealed {
          background-color: dodgerblue;
        }
  
        &.hit {
          background-color: teal;
        }
  
        &.miss {
          background-color: crimson;
        }
      }
    }
  }
}